<!-- This is the file to render the contact form page-->
<!DOCTYPE html>
<html lang="en-US"> 

    <head>
        <title>Pulaskizon</title>
        <link rel="stylesheet" href="bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    </head>

<body>
  <%- include("layouts/header") -%>
  <%- include("layouts/menu") -%>
  <main>
    <div class="block3">
        <form class="form" action="/contactForm" method="post">
            <input name="_id" type="hidden" value="<%= items[0]._id %>" />
        <h1>Contact</h1>
        <p>
            <label for="Contactinfo">Enter your prefred contact info below: </label> 
            
        </p>
<div class="input-group mb-3" id = "newTask">
<input type="text" name="contactInfo" class="form-control" id ="newText" placeholder="Enter email, phone #, or any other method of preffered contact here" aria-label="new task" aria-describedby="basic-addon2">
</div>
<input type="submit"  class="button btn btn-success" value="Submit"> 

</form>
</main>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    
</body>

</html>