<!-- This is the search results and category resluts page when user clicks on a category or enters a phrase in the 
    seacrh bar this page will render  any matching results -->
<!DOCTYPE html>
<html lang="en-US"> 

    <head>
        <title>Pulaskizon</title>
        <link rel="stylesheet" href="bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    </head>

<body>
  <%- include("layouts/header") -%>   

  <%- include("layouts/menu") -%>
  <!-- above two render header bar and side menu -->
  <!-- each form below is an item card -->
    <main>
       
        <h1 class="searchtitlemain"> Search </h1>
        <div class="searchgrid">
            <% for (let Item of items) { %>             
            <%-include("partials/itemCard.ejs", {  Item : Item}) -%>
            <% } %>
            
        </div>
    </main>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    
</body>

</html>