
body{
	background: #f5f5f5;

}

.top_navbar .logo{
	width: 250px;
	font-size: 25px;
	font-weight: 700;
	padding: 0 25px;
	color: white;
	letter-spacing: 2px;
	text-transform: uppercase;
}
main{
	position: relative;
	top: -450px;
	width: 1000px;
	display:inline-block;
	
}
.content{
	margin-top: 300 px;
	width: 1300px;
	text-align: center;
	
}

.right{
	width: 400px;
	text-align: center;
	position: relative;
	top: 430px;
    left: 650px;
}
.left{
	width: 300px;
	text-align: center;
	position: relative;
	top: 250px;
    left: 150px;
	display: flexbox;
}
.item{
	display: grid;
	align-self: center;
	width: 150px;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr;
}
.top_navbar{
	position: relative;
	top: 0px;
	z-index: 10;
	left: 0;
	width: 100%;
	height: 60px;
	background: #ffffff;
	box-shadow: 10px 0 20px rgba(0,0,0,0.45);
	display: flex;
	align-items: center;
}
ul.list-none {
	list-style-type: none;
	padding-left: 0px;
  }
  .wrapper{
	display:inline-block;
  }
.sidebar{
	position: relative;
	z-index: 10;
	left: 0;
	width: 250px;

	background: #ffffff;
	box-shadow: 25px 0px 20px -20px rgba(0,0,0,0.45);
	display:inline-block;
}
.sidebar2{
	position: relative;
	top: 60px;
	left: 150px;
	width: 150px;

	background: #5bc583;
	box-shadow: 25px 0px 20px -20px rgba(0,0,0,0.45);
}
.sidebar ul li a{
	display: block;
	padding: 16px 25px;
	border-bottom: 1px solid #d8dcde;
	color: #feffff;

}
.sidebar ul li  .green{

	background:#5bc583 !important;

}
.sidebar2 ul li a{
	display: block;
	padding: 16px 25px;
	border-bottom: 1px solid #d8dcde;
	color: #feffff;

}

.sidebar ul li a .icon{
	font-size: 18px;
  color: rgb(0, 0, 0);
	vertical-align: middle;

}
.sidebar2 ul li a .icon{
	font-size: 18px;
  color: rgb(0, 0, 0);
	vertical-align: middle;

}

.sidebar ul li a .text{
	margin-left: 19px;
	color: rgb(0, 0, 0);
  font-family: sans-serif;
  font-size: 18px;
	letter-spacing: 2px;
}
.sidebar2 ul li a .text{
	margin-left: 19px;
	color: rgb(0, 0, 0);
  font-family: sans-serif;
  font-size: 18px;
	letter-spacing: 2px;
}

.sidebar ul li a:hover{
	background: #5bc583;
	color: #5bc583;
}
.sidebar2 ul li a:hover{
	background: #5bc583;
	color: #5bc583;
}
div.block3 {
    display: block;
    text-align: center;
	position: relative;
	top: 70px;
	left: 550px;
	width: 600px;
	text-align: center;
    background-color: #82b68f;
    box-shadow: 4px 3px 8px 1px #969696;
    padding: 10px;
    
}
.hiddenButton{
	background: transparent;
    border: none !important;
	width: 150px;
	margin: 0px;
	padding: 0px;
}
.itemCard{

    background: transparent;
    border: none !important;

}
.itemCard:hover {
	background: #5bc583;
	
}
#cart{
	
	position: relative;
	
	width: 800px;
	top: 230px;
	left: 150px;
	
	
}
.imgclass{
    width: 75px;
  	height: 75px;
}
.imgsearch{
    width: 200px;
    height: 125px;
}
.card{
    box-shadow: 10px 0 20px rgba(0,0,0,0.45);
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
}
.card2{
    box-shadow: 10px 0 20px rgba(0,0,0,0.45);
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
	margin-right: 40px;;
	width: 220px;
}
.title{
    font-size: 150%;
    padding-right: 10px;
	color: black;
}
.price{
    padding-right: 15px;
    float: right;
}
.searchtitlemain{
	position: relative;
	left: 50%;
}
.mainbanner{
	width: 600px;
	text-align: center;
	position: relative;
	top: 380px;
	left: 25%;
}
.searchgrid{
	position: relative;
	
	left: 150px;
		width: 840px;
	
		display: flex;
		flex-wrap: wrap;
		padding: 20px;
}
.searchprice{
	float: right;
	color: #5bc583;
}
.searchtext{
	color: black;
	text-decoration: none;
	line-height: 1.5em;
    height: 3em;
	    overflow: hidden;
    text-overflow: ellipsis;
    display:block;
    width : 200px;
}
.placetext {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display:block;
    width : 600px;
}
.button{
	margin-top: 20px;
    padding-right: 15px;
    float: right;
}


/* login and register page css */
.block{
	display: grid;
	width: 100%;

	grid-template-columns: 1fr 1fr;
	padding: 150px;
	grid-gap: 280px; 
	text-align: center;
}

.block0{
	grid-column: 1;
	background-color: #ffffff;
	padding: 60px;
	box-shadow: 10px 0 20px rgba(0,0,0,0.45);
	
}

.block1{
	grid-column: 2;
	background-color:#82b68f;
	padding: 60px;
	box-shadow: 10px 0 20px rgba(0,0,0,0.45);

}

.logo_center{
    display:flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-top: 50px;
  }