<main>
    <div >
     <h1>Welcome to Pulaskizon</h1>
     <img src="css/ship.jpg" alt="ship" width="600" height="200">
    </div>
    <p class="bottom">
        <div class="right">
            <h1>Featured</h1>
            <div class="item">
                <div>
                  <a href="itemdetail.html">
                <img src="css/ship.jpg" width="200" height="100"/>
                <span class="caption">Spaceship</span></a>
              </div>
              <div>
                <a href="itemdetail.html">
                <img src="css/ship.jpg"width="200" height="100"/>
                <span class="caption">Enterprise</span></a>
              </div>

            </div>
        </div>
        <div class ="left">
            <h1>On Sale</h1>
            <div class="item">
                <div>
                  <a href="itemdetail.html">
                <img src="css/ship.jpg" width="150" height="75"/>
                <span class="caption">Spaceship</span></a>
              </div>
              <div>
                <a href="itemdetail.html">
                <img src="css/ship.jpg"width="150" height="75"/>
                <span class="caption">Enterprise</span></a>
              </div>
              <div>
                <a href="itemdetail.html">
                <img src="css/ship.jpg" width="150" height="75"/>
                <span class="caption">Spaceship</span></a>
              </div>
              <div>
                <a href="itemdetail.html">
                <img src="css/ship.jpg" width="150" height="75"/>
                <span class="caption">Enterprise</span></a>
              </div>

            </div>
        </div>
    </p>
</main>